.discussion-header {
    display:flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 27.5px;
    transition: 1s;
}

.discussion-container {
    width: 100%;
    align-items: center;
}

.discussion-container li{
    padding: 30px;
    text-decoration: none;
}

.discussion-container a {
    text-decoration: none;
    font-size: 20px;
    color: black
}

.discussion-container a:hover {
    opacity: 0.4;
}

.discussion-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 11rem;
}

.discussion-card {
    width:100%;
    max-width: 1000px;
    background: #f6f6f6;
    padding: 1.2rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dcdcdc;
    transition: background 1s ease;
}

.discussion-card:hover {
    background: #e9e9e9;
}

.discussion-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.discussion-bottom {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: #5e5b5b;
    align-items: center;
    display: flex;
    gap: 1px;
    width: 100%;
    
}

.discussion-user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.discussion-date {
    margin-left: auto;
    opacity: 0.8;
}

.discussion-meta {
    display:flex;
    align-items: center;
    margin-top: 5px;
    gap: 0px;
    text-decoration: none;
    color: inherit;
}


.dark .discussion-container,
.dark .discussion-container a,
.dark .discussion-header {
    color: white;
}

.dark .discussion-card {
    background: rgb(19, 18, 18);
    border: 1px solid #ffffff;
}


