.ProfileDropdown {
    position: absolute;
    top: 6.7rem;
    right: 5.7rem;
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
}

.ProfileDropdown::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 3rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.ProfileDropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProfileDropdown a:hover {
    text-decoration: none;
}