.ProfileDropdown {
    justify-content: center;
    position: absolute;
    top: 6.5rem;
    right: 2.6rem;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
}

.ProfileDropdown::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 2.8rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.ProfileDropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProfileDropdown a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.ProfileDropdown a:hover {
    opacity: .4;
}

.dark .ProfileDropdown {
    background-color: black;
}

.dark .ProfileDropdown::before{
    background-color: black;
}
