.content-row{
    display: flex;
    gap: 2rem;
}

.slider-container {
    margin-top: -50px;
    margin-left: 200px;
    float: left;
}

.slider-wrapper {
    height: 696px;
    position: absolute;
    width: 58rem;
    margin: 0 auto;
    overflow: hidden;
}

.slider-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider-slide img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    border-radius: 0.5rem;
    cursor: pointer;
}

.slider-nav-button {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    border: none;
    cursor: pointer;
}

.slider-nav-button:hover {
    opacity: 1;
}

.slider-caption {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1.2rem;
    pointer-events: none;
}

.slider-caption:hover {
    opacity: 1;

}

.about-section {
    width: 25rem;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    height: fit-content;
    text-align: center;
    float: right;
    margin-right: 200px;
    margin-top: 20px;
    transition: 1s;
}

.about-section a {
    display: flex;
    padding: 10px;
    text-align: left;
    color: black;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

.about-section h1 {
    color: black;
    font-weight: bold;
    font-size: large;
    transition: 1s;
}

.dark .about-section {
    box-shadow: 0px 0px 0px 3px rgba(190,0,0,1);
}

.dark .about-section h1{
    color: white;
}

.dark .about-section a{
    color: white;
}
